* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


#simple_box{
    padding: 20px;
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box{
    border: 2px solid black;
    height: 200px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    align-content: space-between;
}

#title_text{
  margin-bottom: 5%;
  font-family: "Roboto Slab", serif;
}

#warning{
  display: none;
  margin-bottom: 3%;
  color: red;
  font-weight: 500;
}

#list{
  height: 50px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  font-family: "Nunito", sans-serif;
}

#form{
  display: flex;
  align-content: space-around;
  flex-direction: column;
}

#submit_button{
  border-radius: 5px;
  height: 30px;
  font-family: "Nunito", sans-serif;
}

.list_box{
  border: 2px solid black;
  margin-top: 20px;
  width: 30%;
  height: 50px;
  border-radius: 15px;
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
}

.text_list{
  font-family: "Roboto Slab", serif;
}

.icon_box {
  margin-top: 5px;
  margin-right: 5%;
  margin-left: auto;
  cursor: pointer;

  margin-bottom: auto;
}