* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#body{
    position: fixed;
    inset: 0;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-end;

    flex-direction: column;
    background: #44A8FF;
    background: linear-gradient(180deg,rgba(68, 168, 255, 1) 0%, rgba(190, 225, 255, 1) 100%);
}


.plant_container{
    width: 451px;
    height: 100vh;
    /* border: 2px solid black; */
    align-self: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

}

#ground{
    align-self: center;
    width: 100%;
    background-color: #488003;
    height: 24px;
}

#pottet_plantBottom{
    width: 363px;
    height: 20%;
    background: #885324;
    order: 1;
}

#pottet_plantTop{
    width: 100%;
    height: 56px;
    border-radius: 28px;
    background: #742B21;
}

#plant_shoot_box{
    min-height: 120px;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid green; */
    position: relative;
}

#plant_shoot{
    min-height: 80px;
    max-height: none;
    width: 20px;
    background: #86D301;
    transition: all 0.3s ease;
}

#plant_point{
    width: 0;
    height: 0;
 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #79AA25;
}

.plant_leave{
    transition: all 0.7s ease;
    width: 80px;
    height: 35px;
    
    background: #79AA25;
    border-radius: 85px / 40px;
    position: absolute;
    z-index: -1;

    transform: scaleY(0);
    /* here */
    opacity: 0;
    
}

#leave1{
    transform: rotate(-26.446deg);
    z-index: -1;
    left: 80px;
    bottom: 40px;
}

#button{
    /* display: flex; */
    position: fixed;
    width: 100px;
    height: 50px;
    right: 32px;
    top: 32px;
    border-radius: 25px;
    border: 3px solid rgb(216, 216, 216);
    padding-left: 4px;
    padding-right: 5px;
    cursor: pointer;
    /* justify-content: flex-start; */
}

#circle{
    display: flex;
 
    /* margin-left: 45px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(248, 227, 3);
    font-size: 24px;
    transition: all 0.3s ease;
}

.night_button{
    margin-left: 45px; 
    /* background-color: rgb(45, 45, 114); */
}

/* .night_background{
    background: #0F094B;
    background: linear-gradient(180deg, rgba(15, 9, 75, 1) 0%, rgba(36, 50, 91, 1) 50%, rgba(49, 77, 102, 1) 100%);
}

.night_stem{
    background: #5E8618;
} */ 

#plant_branch1{
    opacity: 0;
    max-height: 170px;
    width: 18px;
    background: #86D301;
    transition: all 0.3s ease;
    position: absolute;
    transform: rotate(-30.63deg);
    transform-origin: bottom;
    left: 45%;
    bottom: 90px;
    border-radius: 10px;
}

#plant_branch2{
    opacity: 0;
    width: 15px;
    max-height: 130px;
    border-radius: 10px;
    background: #86D301;
    transition: all 0.3s ease;
    position: absolute;
    transform-origin: bottom;
    transform: rotate(25.463deg);
    left: 45%;
    bottom: 250px;
}

#plant_leave_branch1{
    width: 80px;
    height: 35px;
    transform: rotate(40.446deg);
    background: #79AA25;
    border-radius: 85px / 40px;
    position: absolute;
    z-index: -1;
    left: 80px;
    bottom: 40px;
}

#leave2{
    left: -15px;
    bottom: 130px;
    transform: rotate(20.446deg);
}

#leave3{
    left: 25px;
    bottom: 300px;
    transform: rotate(60.446deg);
    height: 30px;
}

#leave4{
    left: 20px;
    bottom: 200px;
    transform: rotate(35.446deg);
    
    height: 30px;
    width: 20px;
    border-radius: 30px / 40px;
}

.growing_leave{
    transform: scaleY(1);
}

#explanation_box{
    width: 300px;
    height: 100px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 32px;
    z-index: 1;
    display: none;
}

#accordion{
    width: 100px;
    height: 50px;
    left: 0;
    top: 32px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border: 3px solid #838383;
    border-radius: 25px;
    left: -25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
}

