* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

#Body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
 
}

#title{
    font-family: "Roboto Slab", serif;
    margin-bottom: 10px;
}

.smaller_box{
    width: 40%;
}

#input_text{
    width: 80%;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
}

#submit_button{
    height: 40px;

    border: 2px solid black;
    border-radius: 5px;
}